<script>
export default {
  name: 'CtaBox',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
};
</script>

<template>
  <section :id="data.anchor_id" class="cta-box-wrapper">
    <SlpContainer>
      <SlpRow>
        <SlpColumn>
          <div
            class="cta-box"
            :style="`background-color: ${data.background_color}`"
          >
            <SlpIcon
              class="icon"
              variant="marketing"
              name="announcement"
              size="lg"
              hex-color="transparent"
            />
            <SlpTypography variant="heading3-bold" tag="h2">{{
              data.header
            }}</SlpTypography>
            <SlpTypography variant="body1" tag="p">
              {{ data.text }}
            </SlpTypography>
            <SlpButton
              v-if="data.button_text"
              variant="ghost"
              :href="data.button_url"
              :data-ga-name="data.data_ga_name"
              :data-ga-location="data.data_ga_location"
              >{{ data.button_text
              }}<SlpIcon variant="product" name="chevron-lg-right"
            /></SlpButton>
          </div>
        </SlpColumn>
      </SlpRow>
    </SlpContainer>
  </section>
</template>

<style lang="scss" scoped>
.cta-box-wrapper {
  padding-top: $spacing-96;
  margin-top: $spacing-24;

  @media (max-width: $breakpoint-md) {
    padding-top: $spacing-64;
    margin-top: 0;
  }
}
.cta-box {
  color: $color-text-50;
  padding: $spacing-32;
  border-radius: 8px;

  @media (max-width: $breakpoint-md) {
    margin-top: $spacing-64;
  }

  h2 {
    margin-bottom: $spacing-8;
  }

  p {
    margin-bottom: $spacing-24;
  }

  nuxt-img {
    margin-bottom: $spacing-8;
  }

  .slp-btn {
    display: flex;
    align-items: center;
    color: $color-text-50;
    font-weight: $font-weight-bold;
    padding-left: 0;
  }

  .icon {
    margin-bottom: $spacing-8;
  }
  .slp-btn .slp-icon {
    margin-left: $spacing-8;
  }
}
</style>
